/* RESPONSIVIDADE DA TELA */

@media (max-width:768px){
    .header{
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }

    /* BANNER */
    .banner__img{
        height: 40vh;
    }

    .banner__title{
        font-size: 4rem;
    }
    

    /*FIRST SECTION*/
    .firstSection{
        padding: 50px 10%;
    }
}



