/* HEADER */

.header{
    background-color: #f7f7f7;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.menu{
    display: flex;
}

.menuItem{
    margin-left: 1rem;
    list-style: none;
}

.menu__Link{
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: #b1b0b0;
}

.menuItem:first-child a{
    color:  rgb(90, 90, 90);    
}

.menuItem:first-child a:hover, .menu__Link:hover{
    color: #c40000;    
}


/* BANNER */

.banner{
    width: 100%;
    margin-top: 0;
}


/* FIRST SECTION */

.firstSection{
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstSection__title{
    font-family: 'Pacifico';
    color: #8D0606;
    font-size: 51px;
    text-align: center;
}

.firstSection__textDescription{
    font-family: 'Roboto', sans-serif;
    color: #6b5656;
    font-size: 28px;
    text-align: center;
    font-weight: 300;
    text-align: center;
}


/* SECOND SECTION */

.secondSection{
    background-color: #e5e5e5;
}

.cardGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 60px 0;
}

.cardItem{
    width: 276px;
    height: 384px;
    margin: 30px;
    background-color: #fff;
    border: 1px solid rgb(192, 186, 186);
    border-radius: 2px;
    transition: 0.2s;
}

.cardItem img{
    width: 276px;
}

.cardsText{
    padding: 15px;
    text-align: justify;
}

.cardsText__title{
    font-size: 23px;
}

.cardsText__description{
    font-size: 19px;
}

.cardsText__button{
    cursor: pointer;
    background-color: #8D0606;
    color: #fff;
    font-size: 18px;
    width: 115px;
    height: 37px;
    border: none;
    border-radius: 5px;
}

.cardsText__button:hover{
    transform: scale(1.02);
    background-color: #6D0606;
}



/* THIRD SECTION */

.thirdSection{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 40px 0;   
}

.thirdSection__Title{
    font-family: 'Pacifico';
    font-size: 51px;
    color: #8D0606;
}

.thirdSection__Description{
    font-family: 'Roboto';
    color: #8C8888;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

.cardsGroup__quemSomos{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width:100%;
    flex-wrap: wrap;
}

.cardItem__quemSomos{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__quemSomos{
    flex-shrink: 3;
    margin-bottom: 20px;
    border-radius: 100%; 
}

.titleName__quemSomos{
    font-family: 'Pacifico';
    font-size: 23px;
    color: #8D0606;
    flex-shrink: 1;
}

.textDescription__quemSomos{
    color: #8C8888;
    font-size: 18px;
    flex-shrink: 1;
}


/* FOOTER */

.footer{
    height: 108px;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}

.footer__Text{
    font-family: Roboto;
    color: #fff;
    font-size: 28px;
    font-weight: 400;

}

footer div{
    background-color: #8D0606;
    height: 47px;
    width: 47px;
    margin: 0 10px;
}



/* RESPONSIVIDADE DA TELA */

@media (max-width:768px){
    .header{
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
    }
}

